In [17]:
# CAMPSTONE PROJECT NUMBER 1: A/B TESTING AND HYPOTHESIS TESTING
# The purpose of this project is to demostrate knowledge of how to prepare, create, and analyze A/B tests.
# The A/B test results should aim to find ways to generate more revenue for taxi cab drivers.
# The customers are randomly selected and divided into two groups: 1) customers who are required to pay with credit card 
# 2) customers who are required to pay with cash.

In [10]:
#1 The goal for this A/B test is to sample data and analyze whether there is a relationship between payment type and fare amount. 
#2 For example: discover if customers who use credit cards pay higher fare amounts than customers who use cash.
# The research question for this data project: “Is there a relationship between total fare amount and payment type?”

In [ ]:
# This activity has four parts
# Part 1: Imports packages and data loading

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [18]:
taxi_data = pd.read_csv("2017_Yellow_Taxi_Trip_Data.csv")

In [ ]:
# Part 2: Conducting EDA and hypothesis testing
# In general, descriptive statistics are useful because they let you quickly explore and understand large amounts of data.
# In this case, computing descriptive statistics helps me quickly compare the average total fare amount among different payment types
# Using descriptive statistics to conduct Exploratory Data Analysis (EDA).

In [19]:
# descriptive stats code for EDA
taxi_data.describe(include='all')

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,2.269900e+04,22699.000000,22699,22699,22699.000000,22699.000000,22699.000000,22699,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000
unique,NaN,NaN,22687,22688,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,07/03/2017 3:45:19 PM,10/18/2017 8:07:45 PM,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,2,2,NaN,NaN,NaN,22600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5.675849e+07,1.556236,NaN,NaN,1.642319,2.913313,1.043394,NaN,162.412353,161.527997,1.336887,13.026629,0.333275,0.497445,1.835781,0.312542,0.299551,16.310502
std,3.274493e+07,0.496838,NaN,NaN,1.285231,3.653171,0.708391,NaN,66.633373,70.139691,0.496211,13.243791,0.463097,0.039465,2.800626,1.399212,0.015673,16.097295
min,1.212700e+04,1.000000,NaN,NaN,0.000000,0.000000,1.000000,NaN,1.000000,1.000000,1.000000,-120.000000,-1.000000,-0.500000,0.000000,0.000000,-0.300000,-120.300000
25%,2.852056e+07,1.000000,NaN,NaN,1.000000,0.990000,1.000000,NaN,114.000000,112.000000,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.750000
50%,5.673150e+07,2.000000,NaN,NaN,1.000000,1.610000,1.000000,NaN,162.000000,162.000000,1.000000,9.500000,0.000000,0.500000,1.350000,0.000000,0.300000,11.800000
75%,8.537452e+07,2.000000,NaN,NaN,2.000000,3.060000,1.000000,NaN,233.000000,233.000000,2.000000,14.500000,0.500000,0.500000,2.450000,0.000000,0.300000,17.800000
max,1.134863e+08,2.000000,NaN,NaN,6.000000,33.960000,99.000000,NaN,265.000000,265.000000,4.000000,999.990000,4.500000,0.500000,200.000000,19.100000,0.300000,1200.290000

In [ ]:
# Note: In the dataset, payment_type is encoded in integers:
•	1: Credit card
•	2: Cash
•	3: No charge
•	4: Dispute
•	5: Unknown

In [ ]:
# You are interested in the relationship between payment type and the fare amount the customer pays.
# One approach is to look at the average fare amount for each payment type.

In [20]:
taxi_data.groupby('payment_type')['fare_amount'].mean()
#1 Based on the averages shown, it appears that customers who pay in credit card tend to pay a larger fare amount than customers who pay in cash.
#2 However, this difference might arise from random sampling, rather than being a true difference in fare amount. 
# To assess whether the difference is statistically significant, you conduct a hypothesis test.

payment_type
1    13.429748
2    12.213546
3    12.186116
4     9.913043
Name: fare_amount, dtype: float64

In [ ]:
# Hypothesis testing
# Null hypothesis: There is no difference in average fare between customers who use credit cards and customers who use cash.
# Alternative hypothesis: There is a difference in average fare between customers who use credit cards and customers who use cash
# Your goal in this step is to conduct a two-sample t-test. Recall the steps for conducting a hypothesis test:
1.	State the null hypothesis and the alternative hypothesis
2.	Choose a signficance level
3.	Find the p-value
4.	Reject or fail to reject the null hypothesis
# Note: For the purpose of this exercise, your hypothesis test is the main component of your A/B test.

In [ ]:
#a 𝐻0:There is no difference in the average fare amount between customers who use credit cards and customers who use cash.
#b 𝐻𝐴: There is a difference in the average fare amount between customers who use credit cards and customers who use cash.
# You choose 5% as the significance level and proceed with a two-sample t-test.

In [ ]:
#hypothesis test, A/B test
#significance level

In [21]:
credit_card = taxi_data[taxi_data['payment_type'] == 1]['fare_amount']
cash = taxi_data[taxi_data['payment_type'] == 2]['fare_amount']
stats.ttest_ind(a=credit_card, b=cash, equal_var=False)

TtestResult(statistic=6.866800855655372, pvalue=6.797387473030518e-12, df=16675.48547403633)

In [ ]:
# Since the p-value is significantly smaller than the significance level of 5%, you reject the null hypothesis.
# You conclude that there is a statistically significant difference in the average fare amount between customers who use credit cards and customers who use cash.

In [ ]:
# Task 4. Communicating insights with stakeholders

In [ ]:
# Responses:
1.	The key business insight is that encouraging customers to pay with credit cards can generate more revenue for taxi cab drivers.
2.	This project requires an assumption that passengers were forced to pay one way or the other, and that once informed of this requirement, they always complied with it.
3. The data was not collected this way; so, an assumption had to be made to randomly group data entries to perform an A/B test.
4. This dataset does not account for other likely explanations. For example, riders might not carry lots of cash, so it's easier to pay for longer/farther trips with a credit card.
5. In other words, it's far more likely that fare amount determines payment type, rather than vice versa.